@import url('https://fonts.cdnfonts.com/css/hagrid-trial');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-glassmorphic-bg: var(--glassmorphic-bg);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-blue-primary: var(--blue-primary);
  --color-blue-light: var(--blue-light);
  --color-orange-primary: var(--orange-primary);
  --color-orange-light: var(--orange-light);
  --color-purple-primary: var(--purple-primary);
  --color-purple-light: var(--purple-light);
  --color-green-primary: var(--green-primary);
  --color-green-light: var(--green-light);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}


:root {
  --radius: 32px;
  --primary: #3474FF;
  --primary-foreground: #ffffff;
  --secondary: #ff6f61;
  --background: #ffffff;
  --foreground: #000000;
  --muted: rgba(0, 0, 0, 0.7);
  --muted-foreground: rgba(0, 0, 0, 0.5);
  --card: #ffffff;
  --card-foreground: #000000;
  --border: rgba(0, 0, 0, 0.2);
  --input: rgba(0, 0, 0, 0.2);
  --ring: #3474FF;
  --glassmorphic-bg: rgba(235, 235, 235, 0.24);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --blue-primary: #3474FF;
  --blue-light: rgba(52, 116, 255, 0.10);
  --orange-primary: #E09800;
  --orange-light: rgba(224, 152, 0, 0.20);
  --purple-primary: #893DED;
  --purple-light: rgba(137, 61, 237, 0.20);
  --green-primary: #3BC377;
  --green-light: rgba(137, 219, 173, 0.40);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', serif;
  }
}



@utility heading-hero {
  font-family: 'Hagrid Trial', sans-serif;
  font-family: 'Hagrid Text Trial', sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--foreground);

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

@utility heading-section {
  font-family: 'Hagrid Trial', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: var(--foreground);

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

@utility shadow-box {
  box-shadow: 0px 0px 8px 2px #0000001A;
}

@utility heading-card {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--foreground);
}

@utility body-large {
  font-family: 'Hagrid Trial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--muted);
}


@utility body-regular {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--muted);
}

@utility body-small {
  font-family: 'Hagrid Trial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--muted);
}

@utility label-large {
  font-family: 'Hagrid Trial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--foreground);
}

@utility label-regular {
  font-family: 'Hagrid Trial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--foreground);
}

@utility statistic-large {
  font-family: 'Inter', serif;
  font-size: 48px;
  font-weight: 500;
  color: #010101;
}

@utility txt-fnt {
  font-family: 'Hagrid Trial', sans-serif;
  font-family: 'Hagrid Text Trial', sans-serif;
}

@utility heading-how-it-works {
  font-family: 'Hagrid Trial', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.80px;
  line-height: 56px;
}

@utility body-how-it-works {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

@utility badge-how-it-works {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

@utility glassmorphic {
  backdrop-filter: blur(20px);
  background-color: #F0F2F9;
  ;
}